    <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="widget">
                    <h3>Terbanyak Dibaca</h3>
                    <ul>
                        <li><a href="/404">BWS Sumatera V Wakili Ditjen SDA Menuju WBK dan WBBM

</a></li>
                        <li><a href="/404">Kementerian PUPR Gaet Anak Muda Melalui PUPR Goes To Campus

</a></li>
                        <li><a href="/404">Baru Panjaitan Jabat Ketua HATHI SUMUT

</a></li>
                        <li><a href="/404">Ditjen SDA Sediakan Sumur Bor Untuk Pengungsi Gunung Agung

</a></li>
                    </ul>
                </div>    
            </div><!--/.col-md-3-->

            <div class="col-md-6 col-sm-6">
                <div class="widget">
                    <h3>Kontak Kami</h3>
                    <ul>
                        Direktorat Jenderal Sumber Daya Air, Gd. Ditjen Sumber Daya Air 
Kementerian PUPR
JL. Pattimura 20, Kebayoran Baru 
Jakarta - Indonesia - 12110 
Phone/Fax: (021)-7396616 (Hunting)
Email: kompusda[at]pu.go.id atau kompu.sda[at]gmail.com
                    </ul>
                </div>    
            </div><!--/.col-md-3-->
        </div>
    </div>
