==
<div class="container">

            <div class="row">

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <a href="/404" class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/services1.png'|theme }}">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">E-Learning</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <a href="http://localhost:8080/login" class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/services2.png'|theme }}">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">E-Design</h3>
                            <p>Aplikasi untuk proses perencanaan teknik</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <a href="/404" class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/services3.png'|theme }}">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">E-Library</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>  

                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <a href="http://localhost:8001/" class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/services4.png'|theme }}">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">E-Community</h3>
                            <p>Lorem ipsum dolor sit ame consectetur adipisicing elit</p>
                        </div>
                    </div>
                </div>
                
                <div class="col-sm-6 col-md-4">
                    <div class="media services-wrap wow fadeInDown">
                        <a href="/404" class="pull-left">
                            <img class="img-responsive" src="{{ 'assets/images/services/services4.png'|theme }}">
                        </a>
                        <div class="media-body">
                            <h3 class="media-heading">E-Meeting</h3>
                            <p>Media untuk teleconference</p>
                        </div>
                    </div>
                </div>

                                                              
            </div><!--/.row-->
        </div><!--/.container-->